/* selected color display */
.top-part #chosen {
    width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff0000;
    border-radius: 5px;
}
.top-part #chosen span {
    text-transform: uppercase;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 2px;
    line-height: 1;
}

/* color picker */
.main-part.picker-wrapper {
    width: 120px;
}

.main-part.picker-wrapper #picker {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 30px;
  /* height: 500px; */
  border-radius: 50px;
  background: linear-gradient(to top,hsl(0,100%,50%),
  hsl(60,100%,50%),hsl(120,100%,50%),
  hsl(180,100%,50%),hsl(240,100%,50%),
  hsl(300,100%,50%),hsl(360,100%,50%));
}

/* color selection element */
.main-part.picker-wrapper #color-select {
    display: block;
    width: 100%;
    height: 20px;
    left: 0px !important;
    position: relative;
}
.main-part.picker-wrapper #color-select .color-drag {
    height: 20px;
    margin-left: -45px;
    width: 120px;
}
.main-part.picker-wrapper #color-select .color-drag #left-arrow,
.main-part.picker-wrapper #color-select .color-drag #right-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid transparent !important;
    border-left: 20px solid #ff0000;
    border-bottom: 15px solid transparent !important;
    background: none;
    transform: rotate(360deg);
    left: -45px;
    cursor: pointer;
}
.main-part.picker-wrapper #color-select .color-drag #right-arrow {
    right: -45px;
    left: auto;
    transform: rotate(180deg);
}
