@font-face {
    font-family: 'pageMainFont';
    src: url('../fonts/Jost-Light.ttf') format('truetype');
    font-weight: 400;
}

html, body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: 'pageMainFont', sans-serif;
}

header {
    background-color: #F6F9FF;
    color: #2D67FF;
    padding: 20px 0px;
    margin-bottom: 20px;
}

#main { display: flex; }
#main .left { width: 200px; }
#main .right { flex-grow: 1; }
#main .top-part {
    height: 40px;
    margin: 30px 0px;
    display: flex;
}

#myImageCanvas {
    background: #ffffff;
    display: none;
}


footer.container {
    text-align: right;
    margin-top: 30px;
}
footer #download {
    color: #ffffff;
    height: 40px;
    display: flex;
    align-items: center;
    background: #2D67FF;
    border-radius: 5px;
    float: right;
    padding: 0px 20px;
    cursor: pointer;
}
footer #download:hover {
    box-shadow: inset 0px 0px 10px #000000;
}
footer #download .icon-download {
    margin-right: 10px;
}
