/* remove up/down value arrows*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

.main-part.painting-wrapper {
    display: block;
    border-radius: 5px;
    padding: 2px 0px;
    box-shadow: 0px 0px 10px -5px rgba(196, 196, 196, 1);
}
input.number-blocks {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 10px;
    color: rgba(0,0,0,0.8);
    font-size: 14px;
    font-weight: 700;
    font-family: 'pageMainFont', sans-serif;
    font-size: 14px;
}
input.number-blocks:focus,
input.number-blocks:active { outline: none; }

.cross {
    position: relative;
    width: 40px;
    height: 40px;
}
.cross:before,
.cross:after {
    position: absolute;
    left: 19px;
    top: 12px;
    content: ' ';
    height: 16px;
    width: 1px;
    background-color: rgba(0,0,0,0.3);
}
.cross:before { transform: rotate(45deg); }
.cross:after { transform: rotate(-45deg); }



#painting {
    display: block;
    position: relative;
    margin: 0 auto;
}
#painting.loader:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../img/loader.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    left: 0px;
    top: 0px;
}
.painting-row {
    display: inline-block;
    width: 100%;
}
.painting-block {
    display: block;
    box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,1);
    height: 100%;
    float: left;
}
