.container {
    max-width: 1140px;
    margin: 0 auto;
}
@media (max-width: 1120px) { .container {max-width: 960px;} }
@media (max-width: 992px) { .container {max-width: 720px;} }
@media (max-width: 768px) { .container {max-width: 100%;} }
